.t_transfrom_upper{
    text-transform: uppercase;
    color:white;
    text-align: center;
    text-decoration: line-through;
    background-color: blue;
    padding: 30px;
    margin: 0px;
}
.t_transfrom_lower{
    text-transform: lowercase;
    color: brown;
    text-align: center;
    text-decoration: underline;
    background-color: aquamarine;
    padding: 30px;
    margin: 0px;
}
.t_transfrom_capitalize{
    text-transform: capitalize;
    color:blueviolet;
    text-align: center;
    text-decoration: overline;
    background-color: rgba(125, 226, 43, 0.425);
    padding: 30px;
    margin: 0px;
}
.t_align_center{
text-align:center;
background-color: blue;
}
.t_decuration{
    text-decoration:line-through underline overline;
    text-align: center;
    background-color: aquamarine;
}
.t_indent{
    text-indent: 160px;
    line-height: 30px;
}
.t_line_hight{
    line-height: 30px;
}
.letter_spacing{
    letter-spacing: 9px;
}
.word_spacing{
    word-spacing: 28px;
}
.t_shadow{
    text-shadow:4px 5px 7px blue;
    color: brown;
    text-align: center;
}
.t_shadow_2{
    text-shadow: 4px 5px 4px green;
    color:red;
    text-align: center;
}
.t_shadow_3{
    text-shadow: 3px 6px 9px blueviolet;
    color: aqua;
    text-align: center;
}
.t_shadow_4{
    text-shadow: 1px 4px 6px maroon;
    color: aquamarine;
    text-align: end;
}
.img_b_shadow{
    box-shadow: 3px 6px 4px red;
}
.img_b_shadow_2{
    box-shadow: 6px 7px 8px green;
}
.img_b_shadow_3{
    box-shadow: 9px 5px 4px rgb(167,216,69);
}
.img_d_shadow{
    width:500px;
    filter: drop-shadow(5px 5px 5px green);
}
 .f_family1{
    font-family: sans-serif;
}
.f_family2{
    font-family: 'Courier New', Courier, monospace;
}
.f_family3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f_family4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.f_family5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading1{
    border: 20px solid red;

}
.rel{
    background-color: aqua;
    height: 1000px;
    width: 1000px;
}
#tv{
    position: relative;
    height: 200px;
    width: 200px;
    color: brown;
    border: 6px solid red;
}
#sofa{
    position: absolute;
    border: 6px solid green;
    height: 100px;
    width: 250px;
    background-color: red;
    left: 80px;
    top:120px;
}


